body{
    font: 20px Arial;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.445);
}
.quem-somos {
    background-color: rgb(62, 85, 85);
    color: hsl(0, 26%, 13%);
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background: rgb(27, 99, 77);
}

.bg-footer{
    background: black;
    color: white;
}
